# Configuration file

~CONFIG_VERSION: 0.1.0

world-1686811993 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1793304416 {
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=mini
    B:overlayEnabled=true
}


world-1907703584 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=12 gauge
    B:overlayEnabled=true
}


world-1920345372 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=m16
    B:overlayEnabled=true
}


world-78688046 {
    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=false

    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=12 

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true
}


world1439955337 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=gun
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1717898912 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=arr
    B:overlayEnabled=true
}


world1918693378 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=barret
    B:overlayEnabled=true
}


world629942018 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world920688481 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


